# Compiled class file
/BackEnd/**/*.class

# Log file
/BackEnd/**/*.log

# BlueJ files
/BackEnd/**/*.ctxt

# Mobile Tools for Java (J2ME)
/BackEnd/**/.mtj.tmp/

# Package Files #
/BackEnd/**/target/

/BackEnd/**/*.jar
/BackEnd/**/*.war
/BackEnd/**/*.nar
/BackEnd/**/*.ear
/BackEnd/**/*.zip
/BackEnd/**/*.tar.gz
/BackEnd/**/*.rar

### IntelliJ IDEA ###
/BackEnd/**/.idea
/BackEnd/**/*.iws
/BackEnd/**/*.iml
/BackEnd/**/*.ipr

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
/BackEnd/**/hs_err_pid*
/BackEnd/**/replay_pid*

#Ignore for NextJS
# dependencies
/FrontEnd/node_modules
/FrontEnd/.pnp
/FrontEnd/.pnp.js
/FrontEnd/.yarn/install-state.gz

# testing
/FrontEnd/coverage

# next.js
/FrontEnd/.next/
/FrontEnd/out/

# production
/FrontEnd/build

# misc
/FrontEnd/.DS_Store
/FrontEnd/*.pem

# debug
/FrontEnd/npm-debug.log*
/FrontEnd/yarn-debug.log*
/FrontEnd/yarn-error.log*

# local env files
/FrontEnd/.env*.local

# vercel
/FrontEnd/.vercel

# typescript
/FrontEnd/*.tsbuildinfo
/FrontEnd/next-env.d.ts

#Moblie
/Mobile/!**/ios/**/default.mode1v3
/Mobile/!**/ios/**/default.mode2v3
/Mobile/!**/ios/**/default.pbxuser
/Mobile/!**/ios/**/default.perspectivev3
/Mobile/!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
/Mobile/.flutter-plugins-dependencies
/Mobile/android/app/google-services.json
/Mobile/google-services.json

/Mobile/android/.settings/org.eclipse.buildship.core.prefs
/Mobile/android/app/.classpath
/Mobile/android/.project
/Mobile/android/app/.project
/Mobile/android/app/.settings/org.eclipse.buildship.core.prefs
/Mobile/android/app/.settings/org.eclipse.jdt.core.prefs
/Mobile/android/app/google-services-dev.json
/Mobile/android/app/google-services-pro.json

/Mobile/**/doc/api/
/Mobile/.dart_tool/
/Mobile/.flutter-plugins
/Mobile/.packages
/Mobile/.pub-cache/
/Mobile/.pub/
/Mobile/build/

