@use 'fonts';

@tailwind base;
@tailwind components;
@tailwind utilities;

#page {
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#h3 {
  color: white;
}

#ring {
  width: 190px;
  height: 190px;
  border: 1px solid transparent;
  border-radius: 50%;
  position: absolute;
}

#ring:nth-child(1) {
  border-bottom: 8px solid rgb(255, 141, 249);
  animation: rotate1 2s linear infinite;
}

@keyframes rotate1 {
  from {
    transform: rotateX(50deg) rotateZ(110deg);
  }

  to {
    transform: rotateX(50deg) rotateZ(470deg);
  }
}

#ring:nth-child(2) {
  border-bottom: 8px solid rgb(255,65,106);
  animation: rotate2 2s linear infinite;
}

@keyframes rotate2 {
  from {
    transform: rotateX(20deg) rotateY(50deg) rotateZ(20deg);
  }

  to {
    transform: rotateX(20deg) rotateY(50deg) rotateZ(380deg);
  }
}

#ring:nth-child(3) {
  border-bottom: 8px solid rgb(0,255,255);
  animation: rotate3 2s linear infinite;
}

@keyframes rotate3 {
  from {
    transform: rotateX(40deg) rotateY(130deg) rotateZ(450deg);
  }

  to {
    transform: rotateX(40deg) rotateY(130deg) rotateZ(90deg);
  }
}

#ring:nth-child(4) {
  border-bottom: 8px solid rgb(252, 183, 55);
  animation: rotate4 2s linear infinite;
}

@keyframes rotate4 {
  from {
    transform: rotateX(70deg) rotateZ(270deg);
  }

  to {
    transform: rotateX(70deg) rotateZ(630deg);
  }
}

@layer base {
  :root {
    --main-background: var(--dark-background);
    --main-search-background: var(--dark-search-background);
    --main-sidebar-background: var(--dark-sidebar-background);
    --main-accent: var(--accent-blue);

    --dark-background: 0 0 0;
    --dim-background: 22 33 44;
    --light-background: 255 255 255;

    --dark-search-background: 32 35 39;
    --dim-search-background: 39 51 64;
    --light-search-background: 239 243 244;

    --dark-sidebar-background: 22 24 28;
    --dim-sidebar-background: 30 39 50;
    --light-sidebar-background: 247 249 249;

    --accent-yellow: 255 213 0;
    --accent-blue: 29 155 240;
    --accent-pink: 249 26 130;
    --accent-purple: 120 87 255;
    --accent-orange: 255 122 0;
    --accent-green: 0 184 122;
  }

  a,
  input,
  button,
  textarea {
    -webkit-tap-highlight-color: transparent;
  }

  body {
    @apply hover-animation bg-main-background font-twitter-chirp text-light-primary dark:text-dark-primary;
  }
}

@layer components {
  .hover-animation {
    @apply transition-colors duration-200;
  }

  .custom-button {
    @apply hover-animation rounded-full p-3 disabled:cursor-not-allowed disabled:opacity-50;
  }

  .custom-underline {
    @apply hover-animation underline decoration-transparent outline-none transition [text-decoration-thickness:1px]
           hover:decoration-inherit focus-visible:decoration-inherit;
  }

  .main-tab {
    @apply outline-none focus-visible:ring-2 focus-visible:ring-[#878a8c] focus-visible:transition-shadow
           focus-visible:duration-200 dark:focus-visible:ring-white;
  }

  .accent-tab {
    @apply main-tab #{'focus-visible:!ring-main-accent/80'};
  }

  .accent-bg-tab {
    @apply focus-visible:bg-main-accent/10;
  }

  .dark-bg-tab {
    @apply focus-visible:bg-light-primary/10 dark:focus-visible:bg-dark-primary/10;
  }

  .blur-picture {
    @apply hover-animation accent-tab rounded-full transition hover:brightness-75 active:brightness-100;
  }

  .trim-alt {
    @apply overflow-hidden text-ellipsis break-all [display:-webkit-box] [-webkit-line-clamp:1] [-webkit-box-orient:vertical];
  }

  .hover-card {
    @apply hover:bg-black/[0.03] focus-visible:bg-black/[0.03] dark:hover:bg-white/[0.03]
           dark:focus-visible:bg-white/[0.03];
  }

  .menu-container {
    @apply z-10 rounded-md bg-main-background outline-none
           [box-shadow:#65778633_0px_0px_15px,_#65778626_0px_0px_3px_1px]
           dark:[box-shadow:#ffffff33_0px_0px_15px,_#ffffff26_0px_0px_3px_1px];
  }
}
